<div *ngIf="load">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    {{person.name+" "+person.surname+", Wiek: "+person.age}}
  </mat-expansion-panel-header>
  {{person.description}}
  <div mat-dialog-actions>
    <button type="submit" mat-button color="warn" [routerLink]="['/useredit', person.id]"> Edit </button>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-button color="warn" [routerLink]="['/userdelete', person.id]"> Delete </button>
  </div>
</mat-expansion-panel>
</div>
